* {
  margin: 0;
  padding: 0;
}

html,
body,
:root {
  height: 100%;
  background-color: black;
  font-family: Helvetica, sans-serif;
  color: seashell;
  text-align: center;
}

h2 {
  font-size: 32px;
}

h3{
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5{
  font-size: 20px;
  font-weight: 500;
}

a {
  text-decoration: underline;
  color: inherit;
  font-size: 22px;
}

header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-bottom: 1px solid seashell;
}

.logo {
  height: 50px;
  object-fit: cover;
}

.nav-ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.hero {
  margin: 0 50px;
  margin-top: 70px;
  width: 1200px;
  height: 700px;
  background-image: url("images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  background-color: black;
  width: 100%;
  padding: 20px;
}

.hero-text h4 {
  margin-top: 15px;
}

.tea {
  margin: 0 auto;
  width: 1000px;
  margin-top: 100px;
}

.tea h4 {
  margin-top: 15px;
}

.tea-img-container {
  margin-top: 20px;
}

.tea-img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.tea-img-wrapper {
  display: flex;
  flex-direction: column;
}

.tea-img-wrapper img {
  width: 300px;
  height: 200px;
}

.location{
  margin-top: 100px;
  height: 500px;
  background-image: url('images/img-locations-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.location-title{
  padding-top: 80px;
}

.location-container{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.location-wrapper{
  background-color: black;
  width: 300px;
  padding: 30px 0px;
}

.location-wrapper h5{
  margin-top: 30px;
}

footer{
  margin-top: 15px;
}

.footer-text-center{
  height: 200px;
}

.footer-text-center h5{
  margin-top: 30px;
}

footer p {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}